 * {
    cursor: none;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;

} 

:hover {
    cursor: none;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

